<!-- src/views/index.ejs -->
<!DOCTYPE html>
<html lang="vi">

<head>
  <meta name="zalo-platform-site-verification" content="UTYl3wlET09J_ESlfODgTo2KxdBCuZugEJ4t" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <link href="/styles/output.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf/notyf.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/notyf/notyf.min.js"></script>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>
  /* Custom styles */
  :root {
    --swal-color: #008060;
    /* Custom primary color */
    --swal-bg: #ffffff;
    /* Background color */
    --swal-text-color: #000000;
    /* Text color */
  }

  .swal2-popup {
    background-color: var(--swal-bg);
    color: var(--swal-text-color);
  }

  .swal2-confirm {
    background-color: var(--swal-color);
    border-color: var(--swal-color);
  }

  .swal2-confirm:hover {
    background-color: darken(var(--swal-color), 10%);
    border-color: darken(var(--swal-color), 10%);
  }
</style>

<body class="bg-gray-100">
  <%- include('common/nav') %>
    <main>
      <section class="">
        <div class="relative isolate px-6 pt-14 lg:px-8">
          <div class="absolute inset-x-0 -top-20 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
            aria-hidden="true">
            <div
              class="relative -z-10 left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#00b386] to-[#004d33] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
              style="
                clip-path: polygon(
                  74.1% 44.1%,
                  100% 61.6%,
                  97.5% 26.9%,
                  85.5% 0.1%,
                  80.7% 2%,
                  72.5% 32.5%,
                  60.2% 62.4%,
                  52.4% 68.1%,
                  47.5% 58.3%,
                  45.2% 34.5%,
                  27.5% 76.7%,
                  0.1% 64.9%,
                  17.9% 100%,
                  27.6% 76.8%,
                  76.1% 97.7%,
                  74.1% 44.1%
                );
              "></div>
          </div>
          <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
            <div class="hidden sm:mb-8 sm:flex sm:justify-center">
              <div
                class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                Announcing our next round of funding.
                <a href="#" class="font-semibold text-primary">
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  Read more
                  <span aria-hidden="true">&rarr;</span>
                </a>
              </div>
            </div>
            <div class="text-center">
              <h1 class="text-balance text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
                IMEI Check Services
              </h1>
              <p class="mt-6 text-lg leading-8 text-gray-600">
                Green care offers a variety of Imei check services providing all
                the information about your device, fast and accessible!
              </p>

              <%- include('common/form_imei', { services: services }) %>
            </div>
          </div>

        </div>
      </section>
    </main>
    <!-- <div><%= t("greeting") %></div> -->
    <%- include('common/footer') %>
</body>
<script>
  // Swal.fire({
  //   position: "center",
  //   icon: "success",
  //   title: "TEST MODAL",
  //   showConfirmButton: false,
  //   timer: 1500,
  // });

</script>

</html>